.poppins-normal {
    font-family: "Poppins", sans-serif;
  }

 .raleway-normal{
    font-family: "Raleway", sans-serif;
 } 



#mobile-menu {
  display: none;
}

/* Show the mobile menu when hovering over the hamburger icon */
.group:hover #mobile-menu {
  display: flex;
}