.poppins-normal {
    font-family: "Poppins", sans-serif;
  }

 .raleway-normal{
    font-family: "Raleway", sans-serif;
 } 





#banner-container {
  background-image: url('../Assets/banner.png');
}